$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

@import "../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "../plugins/hover/hover.scss";


// $dark-main-color: $gray-light;
// $light-main-color: $brand-success;
$dark-main-color: MediumSeaGreen ;
$light-main-color: LightGray;


.hidden {
    visibility: hidden;
    overflow: hidden;
    width: 0px;
    height: 0px;
}

// $light-main-color: SlateGray;

body {
  // height: auto;
  min-height: 100vh;
  width: 100vw;
  * {
    color: $gray-lighter;
  }

  a {
    color: $gray-dark;
  }
  background: $dark-main-color;
  overflow-x: hidden;
}

.infobar-wrapper {
  @extend .col-md-4, .col-md-offset-0;
  // @extend .clearfix;

  * {
    color: dimGrey;
  }

  .footer {
    a {
    color: SlateBlue;
    }
  }
  .infobar {
    background: $light-main-color;
    border-radius: 25px;
    padding: 30px;
    height: 100%;
    position: relative;


  }
  @media screen and (min-width: 991px) {
    .infobar {
      padding: 0px;
      margin-bottom: 50px;
      padding: 30px;
      // margin: 2%;
      margin-right: 71%;
      margin-left: 0.5%;
    }
    // padding-bottom: 5%;
    // z-index: -1;
    width: 100vw;
  }


  background: $dark-main-color;
  height: 100%;
  // height: 100vh;
  position: fixed;
  padding: 30px;

  @media screen and (max-width: 991px) {
      position: relative;
  }

  ul.social {
    margin-bottom: 60px;
    height: auto;
    width:100%;
    text-align:center;
    display:block;
    -webkit-padding-start: 0px !important;
  }

  ul.social li {
    display: table-cell;
    display:inline-block;
    &:hover {
      a {
        transition: 1.5s;
        transform: rotateZ(360deg);
      }

    }

    &:not(:last-child) {
      margin-right:10px;
    }
  }      

  h1 {
    text-align: center;
  }

  h4 {
    text-align: center;
  }
  h5 {
    text-indent: 10px;
    text-align: center;
  }
  .footer {
    position: absolute;
    bottom: 20px;
    right: 20px;
    left: 20px;
    text-align: center;
  }

}



.right-section {
  @extend .col-md-8, .col-md-offset-4;


  @extend .col-sm-12;
  @extend .col-sx-12;
  // position: static;
  // margin-right: 0px;
  .back-button {
    padding: 10px;
    position: absolute;
    z-index: 10;
    a {
      color: $dark-main-color;
      text-decoration:none;
    }
  }
  min-height: 100vh;
  padding: 0;
  background: $light-main-color;
  overflow: hidden;
}

/* Landing page style */
.main {
  width: 100%;
  height: 100vh;
  ul {
    height: 100%;
    margin: 0px;
    list-style-type: none;
    padding: 0px;
  }
  li {
    height: 33.333%;
    text-align: center;
    a:before {
      background: LightSlateGray ;
    }
    a:after {
      content:'';
      height:100%;
      display:inline-block;
      vertical-align: middle;
    }
    a {
      text-decoration: none !important;
      height: 100%;
      display: block;
      font-size: 44px;
    }
    
  }
  *, :hover * {
    color: LightSteelBlue;

  }

  .about-headline {
    background-color: Teal;
  }

  .blog-headline {
    background-color: SlateBlue;
  }
  
  .contact-section {
    background-color: DarkOrange ;
  }
  
  .cv-section {
    background-color: DodgerBlue;
  }

  li.two-section {
    display: flex;
    a {
      flex-grow: 3;
    }
    :last-child {
      flex-grow: 2;
    }
  }

}


.contents-wrapper {
  bottom: 0px;
  padding: 20px;
  .content {
    background: $dark-main-color;
    border-radius: 25px;
    padding: 30px;
    margin: 20px;
    padding-bottom: 30px;
    padding-top: 5px;
  }
}

.about-section {
  @extend .contents-wrapper;
  margin: 10px;
  padding: 10px;
  // text-align: right;
  // background: yellow;
  border-radius: 25px;
  // position: absolute;
  height: 100%;
  // display: flex;

  h5 {
    font-size: 16px;
    li {
      text-align: left;
    }
  }

  .twoColumnList {
    padding: 15px;
    text-align: left;
    font-size: 20px;
    li {
      display: inline-block;
      width: 49%;
      margin: 0;
      padding: 0;
      vertical-align: top;
    }
  }
  a.fa::before {
    margin-right: 5px;
  }


}

/* Contact page style */
.contact {
  @extend .contents-wrapper;
  .contact-form {
    padding: 30px;
  }

  .form-control::-webkit-input-placeholder { color: dimGray; }
  .form-control:-moz-placeholder { color: dimGray; }
  .form-control::-moz-placeholder { color: dimGray; }
  .form-control:-ms-input-placeholder { color: dimGray; }

  .custom-button {
    color: dimGray;
    border-radius: 12px;
  }

  input, textarea{
    background-color: $light-main-color;
  }

  i {
    
    color: dimGray;
  }
}


/* Blog style */
.blog {
  @extend .contents-wrapper;
  .post {

  }

  .post-meta {
  
    text-align: center;
    margin-top: 30px;

    .post-tag {
      padding: 2px 5px;
      // background: $light-main-color;
      border-radius: 5px;
      &:not(:last-child) {
        margin-right: 5px;
      }
    }
  }

  span {
    margin-top: 30px;

    i {
      padding-right: 5px;
      padding-left: 15px;
    }
  }
  span:not(:last-child) {
    margin-right: 20px;
  }
}


.cv-page {
  height: 100vh;
  iframe {
    width: 100% !important;
  }
  .cv-container {
    width: 100%;
    height: 100%;
  }
}
