$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

@import "../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "../plugins/hover/hover.scss";


// $dark-main-color: $gray-light;
// $light-main-color: $brand-success;
$dark-main-color: MediumSeaGreen ;
$light-main-color: LightGray;
.infobar-wrapper {
  * {
    color: dimGrey;
  }
}
// $light-main-color: SlateGray;

body {
  // height: auto;
  min-height: 100vh;
  * {
    color: $gray-lighter;
  }

  a {
    color: $gray-dark;
  }
}

.infobar-wrapper {
  @extend .col-md-4;
  // @extend .clearfix;

  .infobar {
    background: $light-main-color;
    border-radius: 25px;
    padding: 30px;
    height: 100%;
    position: relative;

  }  



  background: $dark-main-color;
  height: 100%;
  position: fixed;
  padding: 30px;

  @media screen and (max-width: 991px) {
      position: relative;
  }

  ul.social {
    margin-bottom: 60px;
    height: auto;
    width:100%;
    text-align:center;
    display:block;
  }

  ul.social li {
    display: table-cell;
    display:inline-block;
    margin-right:10px;
    &:hover {
      a {
        transition: 1.5s;
        transform: rotateZ(360deg);
      }

    }
  }      

  h1 {
    text-align: center;
  }

  h4 {
    text-align: center;
  }
  h5 {
    text-indent: 10px;
    text-align: center;
  }
  .footer {
    position: absolute;
    bottom: 20px;
    right: 20px;
    left: 20px;
    text-align: center;
  }

}




.about-section {
  margin: 10px;
  padding: 10px;
  text-align: right;
  background: $light-main-color;
  border-radius: 25px;
  h5 {
    font-size: 16px;
    li {
      text-align: left;
    }
  }
}

.right-section {
  @extend .col-md-8, .col-md-offset-4;
  @media screen and (min-width: 991px) {
    // @extend .pull-right;
  }
    @media screen and (max-width: 991px) {
    // width: 100%;
  }
  @extend .col-sm-12;
  @extend .col-sx-12;
  // position: static;
  // margin-right: 0px;
  min-height: 100vh;
  padding: 0;
  background: $light-main-color;
}


/* Contact page style */
.contact {
  // @extend %right-section;


}

/* Landing page style */
.main {
  width: 100%;
  height: 100vh;
  ul {
    height: 100%;
    margin: 0px;
    list-style-type: none;
    padding: 0px;
  }
  li {
    height: 33.333%;
    text-align: center;
    a:before {
      background: LightSlateGray ;
    }
    a:after {
      content:'';
      height:100%;
      display:inline-block;
      vertical-align: middle;
    }
    a {
      text-decoration: none !important;
      height: 100%;
      display: block;
      font-size: 44px;
    }
    
  }
  *, :hover * {
    color: LightSteelBlue;

  }

  .about-headline {
    background-color: Teal;
  }

  .blog-headline {
    background-color: SlateBlue;
  }
  
  .contact-section {
    background-color: DarkOrange ;
  }
  
  .cv-section {
    background-color: DarkSlateGray  ;
  }

  li.two-section {
    display: flex;
    a {
      flex-grow: 3;
    }
    :last-child {
      flex-grow: 2;
    }
  }

}


/* Blog style */
.blog {
  // @extend %right-section;
  // height: 100vh;
  // min-height: 100%;
  bottom: 0px;
  padding: 20px;
  
  .post {
    background: $dark-main-color;
    border-radius: 25px;
    padding: 30px;
    margin: 20px;
    padding-bottom: 30px;
    padding-top: 5px;
  }

  .post-meta {
  
    // text-align: right;
    margin-top: 30px;

    .post-tag {
      padding: 2px 5px;
      // background: $light-main-color;
      border-radius: 5px;
      &:not(:last-child) {
        margin-right: 5px;
      }
    }
  }

  span {
    margin-top: 30px;

    i {
      padding-right: 5px;
      padding-left: 15px;
    }
  }
  span:not(:last-child) {
    margin-right: 20px;
  }
/*   .header {
    background: blue;
    right: 10px;
    left: 10px;
    top: 10px;
    margin: 30px;
  } */

}