.blog.hidden
  //- .slideInDown
  .content.post
    h2 Lorem ipsum dolor sit.
    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda nihil animi tempora tempore fugit eum voluptatum corrupti beatae expedita similique doloribus soluta, perspiciatis deleniti velit illum minima, aliquam nulla dolorum at voluptas consectetur suscipit nemo sunt eaque! Laborum mollitia tenetur rem, velit excepturi inventore. Iusto provident, numquam magnam dolor quas maiores reiciendis laboriosam vel quod cumque possimus dolores blanditiis excepturi asperiores ducimus natus aperiam placeat atque voluptatem eius magni quidem, mollitia enim impedit! Culpa officia voluptatum error, veniam, laudantium id rerum fugiat accusamus sit, tenetur quasi. Harum nobis facilis, praesentium doloribus ratione porro accusamus animi saepe, cupiditate dolor. Tempore, perspiciatis.
    .post-meta
      span
        i.fa.fa-user
        a(href="http://kamy.me/") Kamyar Ghasemlou
      span
        i.fa.fa-calendar-o
        a(href="http://kamy.me/blog") 1 Jan, 2016 
      span
        i.fa.fa-tags
        a.post-tag(href="http://kamy.me/blog/foo") foo
        a.post-tag(href="http://kamy.me/blog/bar") bar
        a.post-tag(href="http://kamy.me/blog/baz") baz
      //- p
      //-   a(href="http://kamy.me/blog") 1 Jan, 2016 
      //-   | by 
      //-   a(href="http://kamy.me/") Kamyar

  .content.post
    h2 Error beatae saepe in natus excepturi, reiciendis est?
    p Dolore, laborum sunt obcaecati, dicta fugit tempore ut accusantium, aliquam soluta vitae deserunt modi animi mollitia impedit. Odit quisquam, perferendis sapiente aliquid labore rerum corporis assumenda vero nam quia repellendus! Amet sapiente dolorum doloribus, aut assumenda eveniet tempora odit? Ea impedit, animi. Non mollitia obcaecati voluptatem delectus, illum nam saepe magni eveniet debitis quas aspernatur inventore impedit suscipit atque cum vel sit corporis beatae.

    .post-meta  
      span
        i.fa.fa-user
        a Kamyar Ghasemlou
      span
        i.fa.fa-calendar-o
        a 1 Jan, 2016 
      span
        i.fa.fa-tags
        a 1 Jan, 2016 
  .content.post
    h2 Error beatae saepe in natus excepturi, reiciendis est?
    p Dolore, laborum sunt obcaecati, dicta fugit tempore ut accusantium, aliquam soluta vitae deserunt modi animi mollitia impedit. Odit quisquam, perferendis sapiente aliquid labore rerum corporis assumenda vero nam quia repellendus! Amet sapiente dolorum doloribus, aut assumenda eveniet tempora odit? Ea impedit, animi. Non mollitia obcaecati voluptatem delectus, illum nam saepe magni eveniet debitis quas aspernatur inventore impedit suscipit atque cum vel sit corporis beatae.

    .post-meta  
      span
        i.fa.fa-user
        a Kamyar Ghasemlou
      span
        i.fa.fa-calendar-o
        a 1 Jan, 2016 
      span
        i.fa.fa-tags
        a 1 Jan, 2016 
