.contact
  .content
    h2 Contact
      form.form-horizontal.contact-form(method='post')
        fieldset
          .form-group
            span.col-lg-1.col-md-1.col-sm-1.col-xs-1.col-lg-offset-1.col-md-offset-1.col-sm-offset-1.col-xs-offset-1
              i.fa.fa-user.bigicon
            .div.col-lg-9.col-md-9.col-sm-9.col-xs-9
              input#fname.form-control(name='name', type='text', placeholder='First Name*')
          .form-group
            span.col-lg-1.col-md-1.col-sm-1.col-xs-1.col-lg-offset-1.col-md-offset-1.col-sm-offset-1.col-xs-offset-1
              i.fa.fa-user.bigicon
            .div.col-lg-9.col-md-9.col-sm-9.col-xs-9
              input#lname.form-control(name='name', type='text', placeholder='Last Name*')
          .form-group
            span.col-lg-1.col-md-1.col-sm-1.col-xs-1.col-lg-offset-1.col-md-offset-1.col-sm-offset-1.col-xs-offset-1
              i.fa.fa-envelope-o.bigicon
            .div.col-lg-9.col-md-9.col-sm-9.col-xs-9
              input#email.form-control(name='email', type='text', placeholder='Email Address*')
          .form-group
            span.col-lg-1.col-md-1.col-sm-1.col-xs-1.col-lg-offset-1.col-md-offset-1.col-sm-offset-1.col-xs-offset-1
              i.fa.fa-phone-square.bigicon
            .div.col-lg-9.col-md-9.col-sm-9.col-xs-9
              input#phone.form-control(name='phone', type='text', placeholder='Phone(Optional)')
          .form-group
            span.col-lg-1.col-md-1.col-sm-1.col-xs-1.col-lg-offset-1.col-md-offset-1.col-sm-offset-1.col-xs-offset-1
              i.fa.fa-pencil-square-o.bigicon
            .div.col-lg-9.col-md-9.col-sm-9.col-xs-9
              textarea#message.form-control(name='message', placeholder='Your massage*', rows='7')
          .form-group
            .col-md-12.text-center
              button.btn.btn-lg.custom-button(type='submit') Submit
//- style.
//- .header {
//- color: #36A0FF;
//- font-size: 27px;
//- padding: 10px;
//- }
//- .bigicon {
//- font-size: 35px;
//- color: #36A0FF;
//- }
