doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title Kamyar Ghasemlou

    // Custom CSS
    link(href='../styles/main.css', rel='stylesheet')
    // Custom CSS
    link(href='../plugins/animate/animate.css', rel='stylesheet')
    // Custom Fonts
    link(href='../plugins/font-awesome/css/font-awesome.css', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
  body
    .container-fluid
      .row
        include ../partials/sidebar/index.jade
        .right-section
          .about-section
            .content
              h1 About
              h5 
                strong
                  | Fascinated by the machines they call "Computers"; 
                | I am a Computer Engineer Interested in harnessing their potential to solve real life problems. <br /> I am currently a Senior Year Student at 
                a(href="http://ceng.metu.edu.tr") Computer Eng. Department 
                | of 
                a(href="http://metu.edu.tr") METU
                |. Professionally, I am interested in
                ul
                  li web and mobile technologies
                  li Algorithms & data structures
                  li Computer Security & DevOps
                  li Genetic Algorithms 
                | Altough I admire and have used Python the most, I have also used C/C++, Javascript and Bash extensively as well. <br />
              h5 If you are interested in what I do, make sure to 
                  a(href="../contact") Get in touch 
                  | or 
                  a(href="../CV") View my CV
              h2 Selected Projects
                ul.twoColumnList
                  li 
                    a(href="https://github.com/kamyarg/VideoStreamerUI").fa.fa-github-square.fa-1x Video Streamer
                    h5 A Simple proof-of-concept for a video player with Qt/C++ as backend and Angularjs as frontend
                  li 
                    a(href="https://github.com/kamyarg/enfame").fa.fa-github-square.fa-1x Enfame
                    h5 simple url shortener developed in Django + Bootstrap
                  li 
                    a(href="https://github.com/kamyarg/cik").fa.fa-github-square.fa-1x CIK
                    h5 minimalistic command-line bitcoin wallet developed as a term project for Data Security and Protection course.
                  li 
                    a(href="https://github.com/kamyarg/promptgen").fa.fa-github-square.fa-1x PrompGen
                    h5 Shell Command Prompt tweaking tool.
                  li 
                    a(href="https://github.com/kamyarg/kamy.me").fa.fa-github-square.fa-1x Kamy.me
                    h5 On mission of redesigning my personal webpage, I ended up with this thing. :)
                  


    // jQuery
    script(src='../plugins/jquery/jquery.js')
    // Bootstrap Core JavaScript
    script(src='../plugins/bootstrap/javascripts/bootstrap.js')
    // Plugin JavaScript
    script(src='../plugins/jquery/jquery.easing.js')
    script(src='../scripts/main.js')