doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title Kamyar Ghasemlou

    // Custom CSS
    link(href='styles/main.css', rel='stylesheet')
    // Custom CSS
    link(href='plugins/animate/animate.css', rel='stylesheet')
    // Custom Fonts
    link(href='plugins/font-awesome/css/font-awesome.css', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
  body
    .row-fluid
      include ./partials/sidebar/index.jade
            //- i.fa.fa-file-pdf-o.fa-2x
        .main.animated.slideInDown
            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda nihil animi tempora tempore fugit eum voluptatum corrupti beatae expedita similique doloribus soluta, perspiciatis deleniti velit illum minima, aliquam nulla dolorum at voluptas consectetur suscipit nemo sunt eaque! Laborum mollitia tenetur rem, velit excepturi inventore. Iusto provident, numquam magnam dolor quas maiores reiciendis laboriosam vel quod cumque possimus dolores blanditiis excepturi asperiores ducimus natus aperiam placeat atque voluptatem eius magni quidem, mollitia enim impedit! Culpa officia voluptatum error, veniam, laudantium id rerum fugiat accusamus sit, tenetur quasi. Harum nobis facilis, praesentium doloribus ratione porro accusamus animi saepe, cupiditate dolor. Tempore, perspiciatis.
    include ./partials/footer/index.jade    

    // jQuery
    script(src='plugins/jquery/jquery.js')
    // Bootstrap Core JavaScript
    script(src='plugins/bootstrap/javascripts/bootstrap.js')
    // Plugin JavaScript
    script(src='plugins/jquery/jquery.easing.js')
    script(src='scripts/main.js')