.infobar-wrapper.animated.slideInDown
  .infobar
    h1 Kamyar Ghasemlou
    h4 Thinker / Pythonist / Polyglot
    //- .about-section
      h5 
        strong
          | Fascinated by the machines they call "Computers"; 
        | I am a Computer Engineer Interested in harnessing their potential to solve real life problems. <br /> I am currently a Senior Year Student at 
        a(href="http://ceng.metu.edu.tr") Computer Eng. Department 
        | of 
        a(href="http://metu.edu.tr") METU
        |. Professionally, I am interested in
        ul
          li web and mobile technologies
          li Algorithms & data structures
          li Computer Security & DevOps
          li Genetic Algorithms 
        | Altough I admire and have used Python the most, I have also used C/C++, Javascript and Bash extensively as well. <br /><br /> 
      h5 If you are interested in what I do, make sure to <br/ >
          a(href="#") Get in touch 
          | or 
          a(href="#") View my CV
    ul.social
      li
        a.fa.fa-github-square.fa-2x.social-link(href="http://github.com/kamyarg", title="Github", data-placement='bottom')
      li
        a.fa.fa-stack-overflow.fa-2x.social-link(href="#", title="Stack Overflow", data-placement='bottom')
      li
        a.fa.fa-linkedin-square.fa-2x.social-link(href="#", title="LinkedIn", data-placement='bottom')
      li
        a.fa.fa-facebook-square.fa-2x.social-link(href="#", title="Facebook", data-placement='bottom')
      li
        a.fa.fa-twitter-square.fa-2x.social-link(href="#", title="Twitter", data-placement='bottom')
      li
        a.fa.fa-file-pdf-o.fa-2x.social-link(href="#", title="CV", data-placement='bottom')
    h5.footer Copyright &copy; 2015 Kamyar Ghasemlou