.infobar-wrapper
  .infobar
    h1 Kamyar Ghasemlou
    h4 Thinker / Pythonist / Polyglot
    ul.social
      li
        a.fa.fa-github-square.fa-2x.social-link(href="http://github.com/kamyarg", title="Github", data-placement='bottom')
      li
        a.fa.fa-stack-overflow.fa-2x.social-link(href="http://stackoverflow.com/users/1329429/kamyar-ghasemlou", title="Stack Overflow", data-placement='bottom')
      li
        a.fa.fa-linkedin-square.fa-2x.social-link(href="http://tr.linkedin.com/in/ghasemlou", title="LinkedIn", data-placement='bottom')
      li
        a.fa.fa-facebook-square.fa-2x.social-link(href="https://www.facebook.com/kamyar.ghasemlou", title="Facebook", data-placement='bottom')
      li
        a.fa.fa-twitter-square.fa-2x.social-link(href="https://twitter.com/kamyargh", title="Twitter", data-placement='bottom')
      li
        a.fa.fa-file-pdf-o.fa-2x.social-link(href="#CV", title="CV", data-placement='bottom')
    h5.footer Copyright &copy; 2015 Kamyar Ghasemlou