//- .main-headline.about-headline
//- .main-headline.blog-headline
//- .main-headline.contact-headline
.main 
  ul
    li.about-headline
      a(href="http://kamy.me/about") About
    li.blog-headline
      a(href="http://kamy.me/blog") Blog
    li.contact-headline
      a(href="http://kamy.me/contact") Contact
      a(href="http://kamy.me/CV") CV
