//- .main-headline.about-headline
//- .main-headline.blog-headline
//- .main-headline.contact-headline
.main 
  ul
    li
      a(href="http://kamy.me/about") About
    li
      a(href="http://kamy.me/blog") Blog
    li
      a(href="http://kamy.me/contact") Contact
