.main(id="mainPage")
  ul
    li
      a(href="#about", id="aboutPage").hvr-shutter-out-horizontal.about-headline About
        .fa.fa-user.fa-1
    li
      a(href="#blog", id="blogPage").hvr-shutter-out-horizontal.blog-headline Blog
        .fa.fa-lightbulb-o.fa-1x
    li.two-section
      a(href="#contact", id="contactPage").hvr-shutter-out-horizontal.contact-section Contact
        .fa.fa-comment-o.fa-1x
      a(href="#CV", id="cvPage").hvr-shutter-out-horizontal.cv-section CV
        .fa.fa-file-pdf-o.fa-1x
