.cv-page.hidden
  //- embed.cv-container(src='./files/kamyar-ghasemlou-cv.pdf', width='500', height='375', type='application/pdf')
  iframe.cv-container(src="http://docs.google.com/gview?url=http://kamy.me/CV&embedded=true" style="width:718px; height:700px;" frameborder="0")


